<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<!-- Waline 评论系统 CSS -->
<!-- <link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/> -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BMYY5WRDR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BMYY5WRDR');
</script>