<meta charset="utf-8">

{% include seo.html %}
<!-- 4.21新增 自定义代码 -->
{% include head/custom.html %}


{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
<!-- 评论功能4.18 -->
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>
<!-- <script src="{{ '/assets/js/toggleParticles.js' | relative_url }}"></script> -->

<!-- 4.26新增引导界面 -->
<link rel="stylesheet" href="{{'/node_modules/intro.js/introjs.css' | relative_url }}">
<script src="{{'/node_modules/intro.js/intro.js' | relative_url }}" async></script>
<!--你在_config.yml中defaults的修改没有起作用5.13.2023-->
<style>
  .cookie-banner {
    position: fixed; /* 这使得横幅相对于浏览器窗口定位 */
    bottom: 0; /* 这使得横幅保持在底部 */
    width: 100%; /* 这使得横幅占据全宽 */
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* 这使得横幅始终在其他元素之上 */
    border-top: 1px solid #ccc;
    display: flex; /* 这将使横幅使用flex布局 */
    justify-content: center; /* 这将使内容水平居中 */
    align-items: center; /* 这将使内容垂直居中 */
  }

  .cookie-banner p {
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 1.5;
  }

  .cookie-banner a {
    text-decoration: underline;
  }

  .cookie-banner button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 15px;
    cursor: pointer;
    border-radius: 5px;
  }
</style>
