<meta charset="utf-8">

{% include seo.html %}
<!-- 4.21新增 自定义代码 -->
{% include head/custom.html %}


{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
<!-- 评论功能4.18 -->
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>
<script src="{{ '/assets/js/toggleParticles.js' | relative_url }}"></script>
<!-- 4.20新增粒子默认不出现 -->
  <!-- <style>
    #particles-js.hidden {
      display: none;
    }
      
  </style> -->

<!-- 4.19新增 -->
<!-- <style>
  .waline .waline-textarea textarea {
    width: 100% !important;
  }
  /* 在此处添加其他需要调整的Waline样式 */
</style> -->

<!-- <style>
  .wl-editor {
    width: 100% !important;
  }
  
  .wl-editor,
  .wl-input {
    max-width: 100% !important;
  }
</style> -->


