
  
.toggle-particles {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }
#particles-js.hidden {
  display: none;
}
  