---
layout: single
title: "作文-城市/年份分类"
---

<!-- 引入 Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="container">
  <div class="row">
    <!-- 城市列表 -->
    <div class="col-12">
      <h2>城市</h2>
      {% for tag in site.tags %}
        {% if site.cities contains tag[0] %}
          <p class="d-inline-block mr-2"><a class="city-list" href="/tags/{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a></p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <!-- 年份列表 -->
    <div class="timeline">
      {% for year in (2000..2023) %}
        <div class="year" data-year="{{ year }}">
          <span>{{ year }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .city-list, .year-list {
    color: #007bff;  /* 链接颜色 */
    text-decoration: none;  /* 去除下划线 */
  }
  .city-list:hover, .year-list:hover {
    color: #0056b3;  /* 鼠标悬停时的颜色 */
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    top: 15px;
    left: 0;
}

.year {
    position: relative;
    bottom: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 2px solid black;
    background: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 20px;
}

.year span {
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

</style>

<!-- 引入 jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(".year").hover(
  function() {
    $(this).find("span").show();
  },
  function() {
    $(this).find("span").hide();
  }
);

$(".year").click(function() {
  var year = $(this).data("year");
  window.location.href = "/tags/" + year;
});

</script>