---
layout: single
title: "作文-城市分类"
---

<style>
  .city-list .year-list{
    display: inline-block; /* 让h2标签以行内块的方式显示 */
    margin-right: 10px;   /* 每个h2标签的右边距 */
    font-size: 1em;       /* 设置字体大小 */
  }
</style>

{% for tag in site.tags %}
  {% if site.cities contains tag[0] %}
    <h2 class="city-list"><a href="/tags/{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a></h2>
  {% endif %}
{% endfor %}

{% for tag in site.tags %}
  {% if site.years contains tag[0] %}
    <h2 class="year-list"><a href="/tags/{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a></h2>
  {% endif %}
{% endfor %}
