---
layout: single
title: "作文-城市/年份分类"
---

<!-- 引入 Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="container">
  <div class="row">
    <!-- 城市列表 -->
    <div class="col-12">
      <h2>城市</h2>
      {% for tag in site.tags %}
        {% if site.cities contains tag[0] %}
          <p class="d-inline-block mr-2"><a class="city-list" href="/tags/{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a></p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <!-- 年份列表 -->
    <div class="timeline">
      {% for year in (2000..2023) %}
        <div class="year" data-year="{{ year }}">
          <span>{{ year }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .city-list, .year-list {
    color: #007bff;  /* 链接颜色 */
    text-decoration: none;  /* 去除下划线 */
  }
  .city-list:hover, .year-list:hover {
    color: #0056b3;  /* 鼠标悬停时的颜色 */
  }

.timeline {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;  /* 添加这一行以使年份标签垂直居中 */
  height: 60px;  /* 添加这一行以设置 .timeline 的高度，使得 .timeline::after 元素有足够的空间显示 */
}

.timeline::after {
  content: "";
  position: absolute;
  top: 50%;  /* 更改这一行使得线在 .timeline 元素中垂直居中 */
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.year {
  position: relative;  /* 更改这一行以使 .year 元素位于 .timeline::after 元素之上 */
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;  /* 添加这一行使得 .year 元素的背景颜色为白色，这样线就会看起来像是在穿过圆圈 */
}


.year span {
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

</style>

<!-- 引入 jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(".year").hover(
  function() {
    $(this).find("span").show();
  },
  function() {
    $(this).find("span").hide();
  }
);

$(".year").click(function() {
  var year = $(this).data("year");
  window.location.href = "/tags/" + year;
});

</script>